<h1>Products:</h1>
<div class="products">
  <div *ngFor="let product of products">
    <p>Item: {{product.name}}</p>
    <p>{{product.description}}</p>
    <p>Price: {{product.price}} UAH</p>
    <p>Category #{{product.category}}</p>
    <p>Available: {{product.isAvailable}}</p>
    <div class="purchase">
      <input #box type="number" placeholder="amount" value="box.value" [class.no-input]="!product.isAvailable">
      <button (click)="onBuy(product, box.value)" [disabled]="!product.isAvailable">Buy</button>
    </div>

  </div>
</div>
<div class="other-stuff">
  <div class="ingredients">
    <h2>Ingredients: </h2>
    <ol>
      <li *ngFor="let ingredient of ingredients">
        {{ingredient}}
      </li>
    </ol>
  </div>
  <div class="equivalents">
    <h2>Equivalents: </h2>
    <ol>
      <li *ngFor="let equivalent of equivalents">
        {{equivalent}}
      </li>
    </ol>
  </div>
</div>
<my-cart *ngIf="purchased" (deleteEvent)="removeItem($event)" [purchased]="purchased"></my-cart>
